.debug1 {
  border: 1px red dashed;
}

.debug2 {
  border: 1px lightBlue dashed;
}

.debug3 {
  border: 1px yellow dashed;
}

.debug4 {
  border: 1px magenta dashed;
}

.debug5 {
  border: 1px cyan dashed;
}

.debug6 {
  border: 1px BurlyWood dashed;
}

.debug7 {
  border: 1px DarkSalmon dashed;
}

.debug8 {
  border: 1px GreenYellow dashed;
}

.debug9 {
  border: 1px SeaGreen dashed;
}

/*
.blink {
  animation-name: blink;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  opacity: 1;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
*/
